[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
awscli = "*"
aws-google-auth = "*"
black = "==19.10b0"
click = "*"
dvc = {extras = ["s3"],version = "*"}
ipykernel = "*"
pandas = "*"
python-dotenv = "*"
scikit-learn = "*"

[requires]
python_version = "3.7.5"

[pipenv]
allow_prereleases = true
